<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/leaderboard.css">

    <body>
        <%- include('./partials/nav.ejs') %>

        <table class="ranking">
            <thead>
                <th>Sıralama</th>
                <th>Kullanıcı</th>
                <th>Performans</th>
                <th>Yüzde</th>
            </thead>

            <tbody>
                <% for(let i = 0; i < games.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= games[i].username %></td>
                        <td><%= games[i].correct %> / <%= games[i].correct + games[i].incorrect %></td>
                        <td><%= games[i].percentage %>%</td>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <%- include('./partials/footer.ejs') %>

        <script src="/js/menu-operations.js" defer></script>
        <script src="/js/menu-logout-check.js" defer></script>
    </body>

</html>